<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.boot.home.user.dao.UserMapper">

	<resultMap type="cn.boot.home.user.pojo.UserEntity" id="userResultMap">
		<id column="user_id" jdbcType="VARCHAR" property="user_id" />
		<result column="user_name" jdbcType="VARCHAR" property="user_name" />
		<result column="user_sex" jdbcType="VARCHAR" property="user_sex" />
		<result column="user_tel" jdbcType="VARCHAR" property="user_tel" />
		<result column="user_password" jdbcType="VARCHAR" property="user_password" />
		<result column="user_address" jdbcType="VARCHAR" property="user_address" />
		<result column="organi_id" jdbcType="VARCHAR" property="organi_id" />
		<result column="user_lock" jdbcType="VARCHAR" property="user_lock" />
		<result column="found_date" jdbcType="VARCHAR" property="found_date" />
		<result column="found_time" jdbcType="VARCHAR" property="found_time" />
		<result column="login_date" jdbcType="VARCHAR" property="login_date" />
		<result column="login_ip" jdbcType="VARCHAR" property="login_ip" />
	</resultMap>

	<select id="getUserList" resultMap="userResultMap">
		select * from sys_home_user
	</select>


</mapper>