<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.boot.home.auth.dao.AuthMapper">

<!-- 	<cache type="org.mybatis.caches.ehcache.EhcacheCache" > -->
<!--         <property name="timeToIdleSeconds" value="3600"/>1 hour -->
<!--         <property name="timeToLiveSeconds" value="3600"/>1 hour -->
<!--         <property name="maxEntriesLocalHeap" value="1000"/> -->
<!--         <property name="maxEntriesLocalDisk" value="10000000"/> -->
<!--         <property name="memoryStoreEvictionPolicy" value="LRU"/> -->
<!--     </cache> -->

	<resultMap type="cn.boot.home.auth.pojo.AuthEntity" id="authResultMap">
		<id column="auth_id" jdbcType="VARCHAR" property="auth_id" />
		<result column="auth_name" jdbcType="VARCHAR" property="auth_name" />
		<result column="auth_type" jdbcType="VARCHAR" property="auth_type" />
		<result column="auth_url" jdbcType="VARCHAR" property="auth_url" />
		<result column="parent_auth_id" jdbcType="VARCHAR" property="parent_auth_id" />
		<result column="show_flag" jdbcType="VARCHAR" property="show_flag" />
	</resultMap>

	<select id="getAuthList" resultMap="authResultMap">
		select * from sys_home_auth
	</select>


</mapper>